p{
    text-align: center; 
    margin-top: 30%; 
    align-items: center;
}
div{
    text-align: center; 
    align-items: center;
}

  
  /* Estilo para el formulario */
  .manual-form {
    opacity: 0; /* Inicia con opacidad cero para que esté oculto inicialmente */
    transform: translateY(-20px); /* Desplazamiento inicial hacia arriba */
    transition: opacity 100.3s ease, transform 100.3s ease; /* Agrega una transición suave */
  }
  
  .manual-form.active {
    opacity: 1; /* Hacer visible */
    transform: translateY(0); /* Desplazamiento a la posición normal */
  }